<nav align="justify">
    <ul>
        <li><a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>Home</a></li>
	    <li><a href="/about" {% if page.url == "/about/" %}style="color: red;"{% endif %}>About</a></li>
        <li><a href="/resume.pdf" {% if page.url == "/resume.pdf" %}style="color: red;"{% endif %}>R&eacute;sum&eacute;</a></li>
        <li><a href="/projects" {% if page.url == "/projects/" %}style="color: red;"{% endif %}>Projects</a>
        <li><a href="/teaching" {% if page.url == "/teaching/" %}style="color: red;"{% endif %}>Teaching</a>
        <li><a href="/blog" {% if page.url == "/blog/" %}style="color: red;"{% endif %}>Blog</a></li>
    </ul>
</nav>