<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<a href="https://commons.wikimedia.org/wiki/File:Paul_Gauguin_-_D%27ou_venons-nous.jpg"><img src="/img/Paul_Gauguin_-_D'ou_venons-nous.jpg" alt="Header Image" style = "margin: 0px !important; padding-left: 0px !important; width: 100%; height: auto;"/></a>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
	</head>
	<body>
		{% include navigation.html %}
		<div class="container">
		    
		    {{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sharbatanu444@gmail.com"><img src="/img/gmail_icon.png" height="25" width="25"/></a></li>
				<li><a href="https://github.com/sharbatc"><img src="/img/githubmark.png" height="25" width="25"/></a></li>
				<li><a href="https://twitter.com/sharbat_c"><img src="/img/sharbat_twitterlogo.png" height="25" width="25"/></a></li>
			</ul>
		</footer>
	</body>
</html>

