<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav align="justify">
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume.pdf">R&eacute;sum&eacute;</a></li>
        		<li><a href="/projects">Projects</a>
        		<li><a href="/teaching">Teaching</a>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		    
		    {{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sharbatanu444@gmail.com"><img src="/img/gmail_icon.png" height="25" width="25"/></a></li>
			<li><a href="https://github.com/sharbatc"><img src="/img/github_icon.png" height="25" width="25"/></a></li>
			</ul>
		</footer>
	</body>
</html>

