<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		{% include navigation.html %}
		<div class="container">
		    
		    {{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:sharbatanu444@gmail.com"><img src="/img/gmail_icon.png" height="25" width="25"/></a></li>
				<li><a href="https://github.com/sharbatc"><img src="/img/github_icon.png" height="25" width="25"/></a></li>
			</ul>
		</footer>
	</body>
</html>

